* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #f2f1f4;
  color: #19171c;
}
header {
  display: flex;
  justify-content: center;
  background-color: azure;
  border-bottom: 1px solid rgb(189, 187, 187);
}
h1 {
  font-size: 100px;
  margin: 30px;
}
main {
  display: flex;
  justify-content: center;
  background-color: white;
}
.accordion {
  display: flex;
  flex-direction: column;
  background-color: azure;
  width: 400px;
  /* border: 1px solid rgb(189, 187, 187); */
  margin-top: 50px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  border-bottom: 1px solid rgb(189, 187, 187);
  display: flex;
}
.title:hover {
  /* background-color: rgb(183, 222, 222); */
  cursor: pointer;
}
.description {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  cursor: default;
  /* padding: 15px; */
  background-color: white;
}
.active + div {
  /* display: block; */
  max-height: 500px;
  padding: 20px;
}

.fa-solid {
  margin-right: 20px;
}
